.menu{
    width: fit-content;
    margin: 0 auto;
    text-align: center;
}

.field {
    background-color: white;
    border-radius: 0;
    color: var(--secondary-color);
}

.enter {
    background-color: var(--button-color);
    border-color: var(--button-color);
}